version: '1.0.{build}'
configuration:
- Debug
- Release
platform: Any CPU
init:
- ps: $Env:LABEL = "CI" + $Env:APPVEYOR_BUILD_NUMBER.PadLeft(5, "0")
install:
- ps: Start-FileDownload 'https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x64.latest.exe'
- cmd: dotnet-dev-win-x64.latest.exe /quiet
- cmd: dnvm upgrade -u -r clr
environment:
  PATH: $(PATH);$(PROGRAMFILES)\dotnet\
build_script:
- appveyor-retry dotnet restore -v Minimal
- dotnet build **\project.json -c %CONFIGURATION%
- dotnet pack --no-build --version-suffix %LABEL% -o artifacts\. .\src\ClassLibrary\.
- dotnet publish --no-build --version-suffix %LABEL% -o artifacts\ConsoleApplication\. .\src\ConsoleApplication\.
artifacts:
  - path: artifacts\**\*.*
cache:
 - '%USERPROFILE%\.nuget\packages'
after_build: # Run the demo to show that it works
  - dotnet .\artifacts\ConsoleApplication\ConsoleApplication.dll